header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 5%;
    background-color: rgba(38, 38, 38, 5.3);
    opacity: 0.7;
    z-index: 10; /* Menu par dessus tous les autres éléments */
}

body {
    margin: 0;
    padding: 0;
    display: block;
    width: 100%;
    height: 1000px;
    scroll-behavior: smooth;
    background-color: black;
}

scroll-page {
    display: flex;
    height: 105px;
}

.page1 {
    width: 100%;
    height: 85%;
    background-image: url('images/Fond.jpg');
    background-repeat: no-repeat;
    background-size: contain;
}

/* Modifie tous les éléments du menu */
nav ul {
    position: absolute;
    padding: 0;
    margin: 0;
    top: 0;
    left: 620px;
    width: 100%;
    height: 6%;
    list-style-type: none;
}

/* Modifie les éléments du menu */
nav li {
    display: inline-block;
    padding: 0;
    margin-right: 50px;
    text-align: center;
    line-height: 40px;
}

/* Modifie les liens du menu  */
nav li a {
    display: block;
    text-decoration: none;
    color: white;
}

/* Animation lors du survol des éléments du menu */
nav li a:hover {
    color: #c7c7c7;
}

#connexion {
    text-decoration: underline;
}

.drapeau {
    margin-left: 1300px;
    padding: 0;
    top: 27%;
    position: absolute;
}

.texte1 {
    position: absolute;
    top: 230px;
    left: 90px;
    color: white;
    font-family: "Arial Black";
    font-weight: bold;
}

.texte2 {
    position: absolute;
    top: 350px;
    left: 90px;
    color: white;
    font-family: "Arial";
    font-weight: bold;
}

.phraseAccroche {
    position: absolute;
    top: 440px;
    left: 90px;
    color: white;
    font-family: "Arial";
    font-weight: lighter;
}


.rectangle {
    position: absolute;
    left: 60px;
    top: 260px;
    width: 10px;
    height: 300px;
    background-color: white;
}

.page2 {
    width: 100%;
    height: 110%;
}

#imagePage2 {
    width: 100%;
    height: 13%;
}

.titre {
    position: absolute;
    top: 109%;
    left: 41%;
    color: white;
}

.carre_gauche {
    position: absolute;
    left: 8%;
    top: 124%;
    width: 40%;
    height: 550px;
    border-radius: 13px;
    background-color: rgba(38, 38, 38, 5.3);
}

#logoFocus {
    position: absolute;
    width: 250px;
    left: 15px;
    top: 8px;
}

#logoInfiniteMeasures {
    position: absolute;
    width: 180px;
    right: 15px;
}

#para1 {
    position: absolute;
    color: white;
    top: 190px;
    left: 35px;
}

#sous_titre {
    position: absolute;
    color: white;
    left: 85px;
    top: 270px;
    font-weight: bold;
}

#para2 {
    position: absolute;
    color: white;
    top: 310px;
    left: 35px;
}

#para3 {
    position: absolute;
    color: white;
    top: 390px;
    left: 40px;
}

.carre_droite {
    position: absolute;
    right: 8%;
    top: 124%;
    width: 40%;
    height: 550px;
    border-radius: 13px;
    background-color: dimgray;
}

#titre1 {
    left: 160px;
    top: 5%;
    font-weight: bold;
    color: white;
}

#titre2 {
    left: 57px;
    top: 56%;
    font-weight: bold;
    color: white;
}

#autoEcole1 {
    position: absolute;
    width: 200px;
    left: 30px;
    top: 80px;
    border-radius: 13px;
}

#autoEcole2 {
    position: absolute;
    width: 220px;
    top: 80px;
    right: 30px;
    border-radius: 13px;
}

#texte_client {
    position: absolute;
    color: white;
    left: 80px;
    top: 200px;
}

#analyse {
    position: absolute;
    width: 200px;
    left: 30px;
    top: 370px;
    border-radius: 13px;
}

#liste_commentPourquoi {
    position: absolute;
    color: white;
    left: 230px;
    top: 357px;
}

#stat {
    position: absolute;
    color: white;
    left: 454px;
    top: 195%;
}

#l1 {
    position: absolute;
    width: 300px;
    left: 30px;
    top: 210%;
}

#titrel1 {
    position: absolute;
    left: 70px;
    top: 221%;
    color: white;
}

#l2 {
    position: absolute;
    width: 300px;
    left: 380px;
    top: 210%;
}

#titrel2 {
    position: absolute;
    left: 450px;
    top: 221%;
    color: white;
}

#l3 {
    position: absolute;
    width: 300px;
    left: 730px;
    top: 210%;
}

#titrel3 {
    position: absolute;
    left: 790px;
    top: 221%;
    color: white;
}

#l4 {
    position: absolute;
    width: 370px;
    left: 1080px;
    top: 209.5%;
}

#titrel4 {
    position: absolute;
    left: 1140px;
    top: 221%;
    color: white;
}






.page3 {
    width: 100%;
    height: 155%;

}

#titrePage3 {
    position: absolute;
    color: white;
    left: 530px;
    top: 239%;
}



#barreTitreCardiaque {
    position: absolute;
    width: 100%;
    height: 5%;
    top: 250%;
    background-color: dimgray;
    opacity: 0.5;
}

#titreFreqCardiaque {
    position: absolute;
    top: 251%;
    left: 30px;
    color: white;
    text-decoration: underline;
}

#barreTitreTonalite {
    position: absolute;
    width: 100%;
    height: 5%;
    top: 285%;
    background-color: dimgray;
    opacity: 0.5;
}

#titreTonalite {
    position: absolute;
    top: 286%;
    left: 30px;
    color: white;
    text-decoration: underline;
}

#barreTitreTemp {
    position: absolute;
    width: 100%;
    height: 5%;
    top: 325%;
    background-color: dimgray;
    opacity: 0.5;
}

#titreTemperature {
    position: absolute;
    top: 326%;
    left: 30px;
    color: white;
    text-decoration: underline;
}

#barreTitreStimulus {
    position: absolute;
    width: 100%;
    height: 5%;
    top: 362%;
    background-color: dimgray;
    opacity: 0.5;
}

#titreStimuSonore {
    position: absolute;
    top: 363%;
    left: 260px;
    color: white;
    text-decoration: underline;
}

#separateurStimu {
    position: absolute;
    left: 730px;
    top: 363%;
    width: 3px;
    height: 3%;
    background-color: white;
}

#titreStimuVisu {
    position: absolute;
    top: 363%;
    right: 240px;
    color: white;
    text-decoration: underline;
}




#imageCardiaque {
    position: absolute;
    width: 340px;
    left: 30px;
    top: 258%;
}

#imageTonalite {
    position: absolute;
    width: 340px;
    left: 30px;
    top: 293%;
    border-radius: 13px;
}

#imageTemp {
    position: absolute;
    width: 320px;
    height: 210px;
    left: 30px;
    top: 333%;
    border-radius: 13px;
}

#imageSon {
    position: absolute;
    width: 320px;
    left: 220px;
    top: 370%;
    border-radius: 13px;
}

#imageVisu {
    position: absolute;
    width: 320px;
    right: 200px;
    top: 370%;
    border-radius: 13px;
}




#paraCardiaque {
    position: absolute;
    top: 258%;
    left: 420px;
    color: white;
}
#paraTonalite {
    position: absolute;
    top: 295%;
    left: 420px;
    color: white;
}
#paraTemp {
    position: absolute;
    top: 334%;
    left: 420px;
    color: white;
}
#paraSon {
    position: absolute;
    top: 396%;
    left: 90px;
    color: white;
}

#paraVisu {
    position: absolute;
    top: 396%;
    right: 90px;
    color: white;
}




#boutonCardiaque {
    position: absolute;
    width: 17%;
    height: 22px;
    top: 266%;
    left: 1150px;
    color: red;
    border: 2px solid;
    text-decoration: none;
}

#boutonCardiaque:hover {
    border: 3px solid;
}

#boutonTonalite {
    position: absolute;
    width: 17%;
    height: 22px;
    top: 303%;
    left: 1150px;
    color: red;
    border: 2px solid;
    text-decoration: none;
}

#boutonTonalite:hover {
    border: 3px solid;
}

#boutonTemp {
    position: absolute;
    width: 17%;
    height: 22px;
    top: 342%;
    left: 1150px;
    color: red;
    border: 2px solid;
    text-decoration: none;
}

#boutonTemp:hover {
    border: 3px solid;
}

#boutonSon {
    position: absolute;
    width: 17%;
    height: 22px;
    top: 412%;
    left: 255px;
    color: red;
    border: 2px solid;
    text-decoration: none;
}

#boutonSon:hover {
    border: 3px solid;
}

#boutonVisu {
    position: absolute;
    width: 17%;
    height: 22px;
    top: 412%;
    right: 220px;
    color: red;
    border: 2px solid;
    text-decoration: none;
}

#boutonVisu:hover {
    border: 3px solid;
}





.footer {
    width: 100%;
    height: 10%;
    background-color: #A6ADB4;
}

#Infinite_Measures {
    position: absolute;
    width: 65px;
    top: 428%;
    left: 28%;
}
#Focus {
    position: absolute;
    width: 90px;
    top: 428.5%;
    left: 36%;
}

#footerAccueil {
    position: absolute;
    top: 431%;
    right: 28%;
    color: white;
}

#mention_legales {
    position: absolute;
    top: 431%;
    left: 45%;
    color: white;
    text-decoration: none;
}

#mail {
    position: absolute;
    top: 431%;
    right: 34.5%;
    color: white;
    text-decoration: none;
}






