header {
    position: absolute;
    top: 0;
    width: 100%;
    height: 5%;
    background-color: rgba(38, 38, 38, 0.3);
}

body {
    margin: 0;
    padding: 0;
    display: block;
    width: 100%;
    height: 1000px;
    scroll-behavior: smooth;
    background-color: black;
}

scroll-page {
    display: flex;
    height: 105px;
}

.page1 {
    width: 100%;
    height: 100%;
    background-image: url('images/Fond.jpg');
    background-repeat: no-repeat;
    background-size: contain;
}

.page2 {
    width: 100%;
    height: 100%;
    background-color: black;
}

/* Modifie tous les éléments du menu */
nav ul {
    position: absolute;
    padding: 0;
    margin: 0;
    top: 0;
    left: 620px;
    width: 100%;
    height: 6%;
    list-style-type: none;
}

/* Modifie les éléments du menu */
nav li {
    display: inline-block;
    padding: 0;
    margin-right: 50px;
    text-align: center;
    line-height: 40px;
}

/* Modifie les liens du menu  */
nav li a {
    display: block;
    text-decoration: none;
    color: white;
}

/* Animation lors du survol des éléments du menu */
nav li:hover {
    background-color: rgba(3, 1, 30, 0.64);
}

.logo {
    position: absolute;
    top: 0;
    width: 10%;
    height: 5%;
}

.texte1 {
    position: absolute;
    top: 230px;
    left: 100px;
    color: white;
    font-family: "Arial Black";
    font-weight: bold;
}

.texte2 {
    position: absolute;
    top: 350px;
    left: 100px;
    color: white;
    font-family: "Arial";
}

.texte3 {
    position: absolute;
    top: 420px;
    left: 100px;
    color: white;
    font-family: "Arial";

}

.rectangle {
    position: absolute;
    left: 70px;
    top: 260px;
    width: 10px;
    height: 300px;
    background-color: white;
}



