@font-face {
    font-family: 'SourceSansProBold';
    src: url('Police/SourceSansPro-Bold.ttf') format("truetype");
}

@font-face {
    font-family: 'SourceSansProRegular';
    src: url('Police/SourceSansPro-Regular.ttf') format("truetype");
}

* {
    font-family: SourceSansProRegular, serif;
    margin: 0;
}

img {
    height: 100%;
    width: 100%;
}

html, body {
    height: 100%;
    overflow-y: hidden;
}

.gauche {
    width: 50%;
    height: 100%;
    float: left;
}

.droite {
    width: 50%;
    height: 100%;
    float: right;
}


#GrandTitre {
    font-family: SourceSansProBold, sans-serif;
    font-size: 40px;
    color: #43425D;
    letter-spacing: 10px;
    padding-top: 200px;
    text-align: center;
}

#SousTitre {
    font-size: 20px;
    font-weight: normal;
    color: #DCDCDC;
    padding-top: 5px;
    text-align: center;
}

#failed{

    font-size: 20px;
    font-weight: normal;
    color: #c70700;
    padding-top: 20px;
    text-align: center;
}

#end{
    font-size: 20px;
    font-weight: normal;
    color: #03c700;
    padding-top: 20px;
    text-align: center;
}

.ChampsDeConnexion {
    width: 400px;
    height: 114px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}


.Barre {
    position: absolute;
    height: 1px;
    width: 30%;
    background: #c7c7c7;
}


#Mdp{
margin-top: 45px;
}

.Box {
    position: relative;
    width: 400px;
    height: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    top: 40px;
}

#ResterConnecte {
    width: 60px;
    height: 20px;
    margin-top: 10px;
}

input[type=email], input[type=password] {
    border: none;
    font-size: 20px;
    outline: none;
}

input[type=checkbox] {
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 1px solid #43425D;
    border-radius: 4px;
    height: 20px;
    width: 20px;
    background: #fff;
    outline: none;
    cursor: pointer;
}


input[type=checkbox]:checked {
    background-image: url("images/Coche.png");
    background-size: 90%;
    background-position: right top;
    background-repeat: no-repeat;
}

input[type=checkbox]:not(:checked) + label,
input[type=checkbox]:checked + label {
    position: relative;
    top: -5px;
    left: 20px;
    cursor: pointer;
    color: #43425D;
}

button[type=submit]{
    cursor: pointer;
}

#MdpOublie {
    top:-5px;
    position: relative;
    color: #43425D;
    text-decoration: none;
    left: 30%;
}

#MdpOublie:hover {
    text-decoration: underline;
}

.Bouton {
    text-decoration: none;
    position: relative;
    padding: 10px 40px;
    border-radius: 3px;
}

#BoutonConnexion {
    background-color: #43425D;
    color: white;
    border: 3px solid #43425D;
}

#BoutonInscription {
    background-color: white;
    color: #43425D;
    border: 1px solid #43425D;
    left: 25%;
}

#Box2 {
    position: relative;
    top: 80px;
}