@font-face {
    font-family: 'SourceSansProBold';
    src: url('Police/SourceSansPro-Bold.ttf') format("truetype");
}

@font-face {
    font-family: 'SourceSansProRegular';
    src: url('Police/SourceSansPro-Regular.ttf') format("truetype");
}

* {
    font-family: SourceSansProRegular, serif;
    font-size: 16px;
    margin: 0;
}

img {
    height: 100%;
    width: 100%;
}

html, body {
    height: 100%;
    overflow-y: hidden;
}

.gauche {
    width: 50%;
    height: 100%;
    float: left;
}

.droite {
    width: 50%;
    height: 100%;
    float: right;
}


#GrandTitre {
    padding-top: 200px;
    font-family: SourceSansProBold, sans-serif;
    font-size: 40px;
    color: #43425D;
    letter-spacing: 10px;
    text-align: center;
}

#SousTitre {
    font-size: 20px;
    font-weight: normal;
    color: #DCDCDC;
    padding-top: 20px;
    text-align: center;
}

.Barre {
    margin-top: 10px;
    height: 1px;
    width: 95%;
    background: #c7c7c7;
}

.Box {
    position: relative;
    width: 400px;
    height: 35px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    display: flex;
}

#Box1{
    top: 45px;
}

#Box2 {
}


 #E-mail {
    border: none;
    outline: none;
}



#Box11 {
    width: 400px;
    height: 35px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 75px;
}

input[type=submit] {
    cursor: pointer;
}

#BoutonEnvoyer {
    margin-top: 70px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    text-decoration: none;
    padding: 10px 40px;
    border-radius: 3px;
    background-color: #43425D;
    color: white;
    border: 3px solid #43425D;
}



