body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: white;
}

.barreHeader {
    position: absolute;
    top: 0;
    width: 100%;
    height: 8.7%;
    background-color: grey;
}


#titreProfil {
    position: absolute;
    color: white;
    font-size: 45px;
    top: 10px;
    left: 31%;
}

#deconnexion {
    color: white;
    position: absolute;
    top: 30px;
    right: 5%;
    text-decoration: none;
    border: 3px solid #B5B5B5;
    border-radius: 20px;
    background-color: #B5B5B5;
    opacity: 0.9;
}

#deconnexion:hover {
    border: 3.5px solid #B5B5B5;
}

#maisonAccueil {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 2%;
}

body {
    font-family: 'Roboto', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}


#photoProfil {
    position: absolute;
    width: 14%;
    top: 275px;
    left: 450px;
    border-radius: 200px;
    z-index: 1000;
}

#contourPhoto {
    position: absolute;
    background: grey;
    width: 23%;
    height: 38%;
    top: 33%;
    left: 26%;
    border-radius: 10px;
    opacity: 0.7;
    z-index: 999;
}

#boutonEnregistrerModif {
    position: absolute;
    width: 19%;
    height: 22px;
    top: 635px;
    left: 1070px;
    color: black;
    border: 2px solid;
    text-decoration: none;
}

#boutonAnnulerModif {
    position: absolute;
    width: 8%;
    height: 22px;
    top: 635px;
    left: 870px;
    color: red;
    border: 2px solid;
    text-decoration: none;
}

#boutonEnregistrerModif:hover {
    border: 3px solid;
}

#boutonAnnulerModif:hover {
    border: 3px solid;
}

.infoProfil {
    position: absolute;
    width: 160px;
    height: 430px;
    background: black;
    top: 207px;
    left: 220px;
    z-index: 200;
}

#stat1 {
    position: absolute;
    color: white;
    top: 240px;
    left: 240px;
    text-decoration: underline;
    z-index: 201;
}

#dateInscription {
    position: absolute;
    top: 270px;
    left: 260px;
    color: #008B8B;
    z-index: 202;
}

#barreStat1 {
    position: absolute;
    top: 310px;
    left: 230px;
    width: 140px;
    height: 1px;
    background: grey;
    opacity: 0.7;
    z-index: 204;
}

#stat2 {
    position: absolute;
    color: white;
    top: 330px;
    left: 280px;
    text-decoration: underline;
    z-index: 203;
}

#age {
    position: absolute;
    top: 360px;
    left: 278px;
    color: #008B8B;
    z-index: 204;
}

#barreStat2 {
    position: absolute;
    top: 400px;
    left: 230px;
    width: 140px;
    height: 1px;
    background: grey;
    opacity: 0.7;
    z-index: 204;
}

#stat3 {
    position: absolute;
    color: white;
    top: 440px;
    left: 235px;
    text-decoration: underline;
    z-index: 203;
}

#nbTests {
    position: absolute;
    top: 470px;
    left: 295px;
    color: #008B8B;
    z-index: 204;
}

#barreStat3 {
    position: absolute;
    top: 510px;
    left: 230px;
    width: 140px;
    height: 1px;
    background: grey;
    opacity: 0.7;
    z-index: 204;
}

#stat4 {
    position: absolute;
    color: white;
    top: 540px;
    left: 235px;
    text-decoration: underline;
    z-index: 203;
}

#nbPoints {
    position: absolute;
    top: 570px;
    left: 295px;
    color: #008B8B;
    z-index: 204;
}



#barreBas {
    position: absolute;
    background: grey;
    width: 100%;
    height: 8%;
    top: 92%;
}

#barreBas:hover {
    width: 105%;
}

#HistoriqueTests {
    position: absolute;
    color: white;
    top: 95%;
    left: 45%;
    font-size: 15px;
    text-decoration: underline;
}

#HistoriqueTests:hover {
    font-size: 16px;
}

#flecheBas1 {
    position: absolute;
    top: 95.3%;
    left: 65%;
}

#flecheBas2 {
    position: absolute;
    top: 95.3%;
    left: 37%;
}