body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: white;
}

.barreHeader {
    position: absolute;
    top: 0;
    width: 100%;
    height: 8.7%;
    background-color: grey;
}

#titreProfilAdmin {
    position: absolute;
    color: black;
    font-size: 45px;
    top: 300px;
    left: 30%;
}

#posteAdmin {
    position: absolute;
    color: black;
    font-size: 45px;
    top: 390px;
    left: 34%;
}

.SecondeBarre {
    position: absolute;
    top: 8.7%;
    width: 100%;
    height: 8.7%;
    background-color: dimgrey;
}
#gestion {
    position: absolute;
    top: 20px;
    left : 15%;
    color: white;
    transition-property: color;
    transition-duration: 1s;
}
#gestion:hover{
    color : #b5e6e6;
    text-decoration: underline;
}

#FAQ{
    position: absolute;
    top:20px;
    left: 60%;
    color: white;
    transition-property: color;
    transition-duration: 1s;
}
#FAQ:hover{
    text-decoration: underline;
    color : lightpink;
}

#titreProfil {
    position: absolute;
    top: 20px;
    left: 40%;
    color: white;
}

#deconnexion {
    color: white;
    position: absolute;
    top: 25px;
    right: 5%;
    text-decoration: none;
    border: 3px solid #B5B5B5;
    border-radius: 20px;
    background-color: #B5B5B5;
    opacity: 0.9;
}

#deconnexion:hover {
    border: 3.5px solid #B5B5B5;
}

#maisonAccueil {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 2%;
}

body {
    font-family: 'Roboto', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.sidebar {
    position: fixed;
    left: -250px;
    width: 250px;
    height: 100%;
    background: #042331;
    transition: all .5s ease;
    z-index: 500;
}

.mesTests {
    overflow: hidden;
}

.sidebar header {
    font-size: 20px;
    color: white;
    padding-left: 30px;
    line-height: 70px;
    background: #063143;
    user-select: none;
}

.sidebar1 a {
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 15px;
    color: white;
    padding-left: 30px;
    box-sizing: border-box;
    border-top: 1px solid rgba(255, 255, 255, .1);
    border-bottom: 1px solid black;
    transition: .4s;
}

.mesTests #btnMesTests {
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 15px;
    color: white;
    padding-left: 30px;
    box-sizing: border-box;
    border-top: 1px solid rgba(255, 255, 255, .1);
    border-bottom: 1px solid black;
    transition: .4s;
}

.mesTests .mesTestsContenu {
    display: none;
}

.mesTestsContenu a {
    display: block;
    line-height: 35px;
    font-size: 13px;
    color: white;
    padding-left: 50px;
    box-sizing: border-box;
    border-top: 1px solid rgba(255, 255, 255, .1);
    border-bottom: 1px solid black;
    transition: .4s;
}

/* Afficher le menu déroulant lors du survol de " Mes tests " */
.mesTests:hover .mesTestsContenu {
    display: block;
}

.sidebar2 a {
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 15px;
    color: white;
    padding-left: 30px;
    box-sizing: border-box;
    border-top: 1px solid rgba(255, 255, 255, .1);
    border-bottom: 1px solid black;
    transition: .4s;
}

.mesTests #btnMesTests:hover {
    padding-left: 40px;
}

.sidebar ul li:hover a {
    padding-left: 40px;
}

/* Les icônes */
.sidebar ul a i {
    margin-right: 10px;
}

/* Masquer la checkBock */
#check {
    display: none;
}

label #btnMenu, label #cancelMenu {
    position: absolute;
    cursor: pointer;
}

label #btnMenu {
    left: 10px;
    top: 17px;
    font-size: 25px;
    color: black;
    padding: 6px 12px;
    transition: all .5s;
}

label #cancelMenu {
    z-index: 1000;
    color: white;
    left: -195px;
    top: 17px;
    font-size: 20px;
    padding: 4px 9px;
    transition: all .5s ease;
}

#check:checked ~ .sidebar {
    left: 0;
}

/* Si on appuit sur btnMenu alors on coche la checkBock et "conditions" */
#check:checked ~ label #btnMenu {
    left: 250px;
    opacity: 0;
    pointer-events: none;

}

/* Si on appuit sur cancelMenu alors on coche la checkBock et "conditions" */
#check:checked ~ label #cancelMenu {
    left: 195px;
}

#photoProfil {
    position: absolute;
    width: 14%;
    top: 275px;
    left: 490px;
    border-radius: 200px;
    z-index: 1000;
}

#contourPhoto {
    position: absolute;
    background: grey;
    width: 23%;
    height: 38%;
    top: 33%;
    left: 29%;
    border-radius: 10px;
    opacity: 0.7;
    z-index: 999;
}

#boutonModiflProfil {
    position: absolute;
    width: 17%;
    height: 22px;
    top: 635px;
    left: 470px;
    color: black;
    border: 2px solid;
    text-decoration: none;
}

#boutonModiflProfil:hover {
    border: 3px solid;
}

.infoProfil {
    position: fixed;
    width: 160px;
    height: 450px;
    background: black;
    top: 210px;
    left: 260px;
    z-index: 200;
}

.infoProfil p {
    display: block;
    text-align: center;
    text-decoration: underline;
    height: 100%;
    width: 160px;
    line-height: 90px;
    font-size: 13px;
    color: white;
    padding-left: 8px;
    box-sizing: border-box;
    border-top: 1px solid rgba(255, 255, 255, .1);
    border-bottom: 1px solid black;
}

#barreTitreCardiaque {
    position: absolute;
    width: 210px;
    height: 3%;
    top: 200px;
    left: 864px;
    background-color: dimgray;
    opacity: 0.5;
}

#titreFreqCardiaque {
    position: absolute;
    top: 201px;
    left: 890px;
    font-size: 17px;
    color: white;
    text-decoration: underline;
}

#imageCardiaque {
    position: absolute;
    width: 260px;
    left: 840px;
    top: 240px;
}

#imageCardiaque:hover {
    width: 262px;
}

#barreTitreTonalite {
    position: absolute;
    width: 230px;
    height: 3%;
    top: 200px;
    left: 1164px;
    background-color: dimgray;
    opacity: 0.5;
}

#titreTonalite {
    position: absolute;
    top: 201px;
    left: 1175px;
    font-size: 17px;
    color: white;
    text-decoration: underline;
}

#imageTonalite {
    position: absolute;
    width: 220px;
    left: 1170px;
    top: 240px;
    border-radius: 13px;
}

#imageTonalite:hover {
    width: 222px;
}

#barreTitreTemp {
    position: absolute;
    width: 227px;
    height: 3%;
    top: 440px;
    left: 1164px;
    background-color: dimgray;
    opacity: 0.5;
}

#titreTemperature {
    position: absolute;
    top: 441px;
    left: 1184px;
    font-size: 17px;
    color: white;
    text-decoration: underline;
}

#imageTemp {
    position: absolute;
    width: 208px;
    left: 1170px;
    top: 475px;
    border-radius: 13px;
}

#imageTemp:hover {
    width: 210px;
}

#barreTitreStimulus {
    position: absolute;
    width: 227px;
    height: 3%;
    top: 440px;
    left: 860px;
    background-color: dimgray;
    opacity: 0.5;
}

#titreStimu {
    position: absolute;
    top: 441px;
    left: 875px;
    font-size: 17px;
    color: white;
    text-decoration: underline;
}

#imageVisu {
    position: absolute;
    width: 120px;
    left: 840px;
    top: 475px;
    border-radius: 13px;
}

#imageSon {
    position: absolute;
    width: 140px;
    left: 958px;
    top: 475px;
    border-radius: 13px;
}

#imageVisu:hover {
    width: 122px;
}

#imageSon:hover {
    width: 142px;
}

#titreTest {
    position: absolute;
    color: black;
    top: 130px;
    right: 150px;
    font-family: "Apple Chancery";
}

#barreBas {
    position: absolute;
    background: grey;
    width: 100%;
    height: 8%;
    top: 92%;
}

#barreBas:hover {
    width: 105%;
}

#HistoriqueTests {
    position: absolute;
    color: white;
    top: 95%;
    left: 45%;
    font-size: 15px;
    text-decoration: underline;
}
#HistoriqueTests:hover {
    font-size: 16px;
}

#flecheBas1 {
    position: absolute;
    top: 95.3%;
    left: 65%;
}

#flecheBas2 {
    position: absolute;
    top: 95.3%;
    left: 37%;
}