input[type=checkbox] {
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 1px solid #43425D;
    border-radius: 4px;
    height: 20px;
    width: 20px;
    background: #fff;
    outline: none;
    cursor: pointer;
}

input[type=checkbox]:checked {
    background-image: url("../images/Coche.png");
    background-size: 90%;
    background-position: right top;
    background-repeat: no-repeat;
}

input[type=checkbox]:not(:checked) + label,
input[type=checkbox]:checked + label {
    position: relative;
    top: -5px;
    left: 20px;
    cursor: pointer;
    color: #43425D;
}


#Box13 {
    width: 400px;
    height: 35px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 500px;
}