@font-face {
    font-family: 'SourceSansProBold';
    src: url('../Police/SourceSansPro-Bold.ttf') format("truetype");
}

@font-face {
    font-family: 'SourceSansProRegular';
    src: url('../Police/SourceSansPro-Regular.ttf') format("truetype");
}

* {
    font-family: SourceSansProRegular, serif;
    font-size: 16px;
    margin: 0;
}

img {
    height: 100%;
    width: 100%;
}

html, body {
    height: 100%;
    overflow-y: hidden;
}

.gauche {
    width: 50%;
    height: 100%;
    float: left;
}

.droite {
    width: 50%;
    height: 100%;
    float: right;
}


#GrandTitre {
    font-family: SourceSansProBold, sans-serif;
    font-size: 40px;
    color: #43425D;
    letter-spacing: 10px;
    padding-top: 50px;
    text-align: center;
}

#SousTitre {
    font-size: 20px;
    font-weight: normal;
    color: #DCDCDC;
    padding-top: 5px;
    text-align: center;
}

#success{
    font-size: 20px;
    font-weight: normal;
    color: #03c700;
    padding-top: 20px;
    text-align: center;
}

#failed{

    font-size: 20px;
    font-weight: normal;
    color: #c70700;
    padding-top: 20px;
    text-align: center;
}

.ChampsDeConnexion {
    position: relative;
    top: 50px;
    width: 400px;
    height: 325px;
    margin-left: auto;
    margin-right: auto;
}

.PetiteBarre {
    height: 1px;
    width: 45%;
    background: #c7c7c7;
}

#PetiteBarreDroite {
    margin-left: 5%;
}

.Barre {
    margin-top: 10px;
    height: 1px;
    width: 95%;
    background: #c7c7c7;
}

.Box {
    position: relative;
    width: 400px;
    height: 35px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    display: flex;
}

#Box1, #Box3, #Box5, #Box7, #Box9 {
    top: 20px;
}

#Box2, #Box4, #Box6, #Box8, #Box10 {
    position: absolute;
}

#Box2 {
    top: 20px;
}

#Box4 {
    top: 75px;
}

#Box6 {
    top: 140px;
}

#Box8 {
    top: 205px;
}

#Box10 {
    top: 270px;
}

.Box2 {
    position: relative;
    width: 400px;
    height: 20px;
    margin-left: auto;
    margin-right: auto;
    top: 40px;
}

#FormNom, #FormPrenom, #Email, #Mdp, #ConfirmerMdp, #CodeTest {
    border: none;
    outline: none;
}

#FormNom {
    margin-left: 5%;
}

input[type=checkbox] {
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 1px solid #43425D;
    border-radius: 4px;
    height: 20px;
    width: 20px;
    background: #fff;
    outline: none;
    cursor: pointer;
}

input[type=checkbox]:checked {
    background-image: url("../images/Coche.png");
    background-size: 90%;
    background-position: right top;
    background-repeat: no-repeat;
}

input[type=checkbox]:not(:checked) + label,
input[type=checkbox]:checked + label {
    position: relative;
    top: -5px;
    left: 20px;
    cursor: pointer;
    color: #43425D;
}


#Box11 {
    width: 400px;
    height: 35px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 75px;
}

button[type=submit] {
    cursor: pointer;
}

#BoutonInscription {
    margin-top: 30px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    text-decoration: none;
    padding: 10px 40px;
    border-radius: 3px;
    background-color: #43425D;
    color: white;
    border: 3px solid #43425D;
}

#ConditionUtilisation {
    text-decoration: underline;
}

#ConditionUtilisation:visited{
color: #43425D
}

#Connexion {
    display: flex;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 293px;
    margin-top: 25px;
    text-decoration: underline;
    color: #43425D;
}
